/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
/* background-image: linear-gradient(100deg, #3daef9, #2a2dfe); */
height: 100%;
font-family: 'Numans', sans-serif;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group, .slc{  
    margin-top: 10px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}


.styled-button{
/* color: rgb(255, 255, 255);
background-color: #7492f4;
width: auto; */
padding: 20px;
margin-top: 20px;
padding-top: 10px;

}


#btn{
padding-top: 10px;
}