/* AgregarCamion.css */
/*   @media (max-width: 768px) {
    .card {
      display: none;
    }
  
    .form-container {
      display: block;
      padding: 15px;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      background-color: #fff;
    }
  
    .form-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-control {
      padding: 15px;
      font-size: 16px;
    }
  
    .text-center {
      margin-top: 10px;
    }
  
    .alert {
      font-size: 14px;
    }
  }
  
  @media (min-width: 769px) {
    .form-container {
      display: none;
    }
  } */
  