/* app.css */
/* app.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.with-sidebar .content {
  margin-left: 250px; /* Ajusta esto según el ancho de tu sidebar */
}

.no-sidebar .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Asegurarse que el sidebar no tape el contenido en pantallas pequeñas */
@media (max-width: 768px) {
  .with-sidebar .content {
    margin-left: 0;
  }
  .main-content {
    flex-direction: column;
  }
  .content {
    margin: 0;
    width: 100%;
  }
}

/* .app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.with-sidebar .content {
  margin-left: 250px; /* Ajusta esto según el ancho de tu sidebar *
}

.no-sidebar .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page .content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Asegurarse que el sidebar no tape el contenido en pantallas pequeñas *
@media (max-width: 768px) {
  .with-sidebar .content {
    margin-left: 0;
  }
  .main-content {
    flex-direction: column;
  }
  .content {
    margin: 0;
    width: 100%;
  }
}
 */