.result-list {
  position: absolute;
  z-index: 1000;
  width: 30%; /* Ocupa todo el ancho del Form.Control */
  background-color: white;
  border: 1px solid #ced4da;
  max-height: 120px;
  overflow-y: auto;
  margin-top: -1px; /* Margen superior negativo para pegarlo al Form.Control */
  border-top: none; /* Para que parezca una extensión del Form.Control */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra para destacar */
}

.input-group > .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
